<div style="margin: 20px;width:420px">
  <div style="text-align: center;">
  <img src="https://nuviot.blob.core.windows.net/cdn/nuviot-blue.png" alt="Nuviot Logo" style="width: 200px; height: auto; margin-bottom: 20px;" />
  </div>
  <div *ngIf="state">
    <div class="stats" *ngIf="!selectedConfig && valvesConfig">
      <div *ngFor="let config of valvesConfig.valves">
        <div>
          <label>{{config.name}}<i class="fa fa-pencil action" (click)="editConfig(config)"></i></label>
          <span> {{state.source}}</span> 
        </div>
        <div class="function-row">  
          <button class="mode-button btn btn-primary" (click)="setMode(config.key, config.pos0Key)">{{config.pos0Name}}</button>
          <button class="mode-button btn btn-primary" (click)="setMode(config.key, config.pos90Key)">{{config.pos90Name}}</button>
          <button class="mode-button btn btn-primary" (click)="setMode(config.key, config.pos180Key)">{{config.pos180Name}}</button>
        </div>
      </div>
    </div>
    
    <div *ngIf="selectedConfig" class="config-editor">
      <h3>Edit Config</h3>
      <div class="form-group">
        <label>Name:</label>
        <input class="form-control" type="text" [(ngModel)]="selectedConfig.name" />
      </div>
      <div class="form-group">
        <label>Key:</label>
        <input class="form-control" type="text" [(ngModel)]="selectedConfig.key" />
      </div>
      <div class="form-group">
        <label>Position 0 Key:</label>
        <input class="form-control" type="text" [(ngModel)]="selectedConfig.pos0Key" />
      </div>
      <div class="form-group">
        <label>Position 0 Name:</label>
        <input class="form-control" type="text" [(ngModel)]="selectedConfig.pos0Name" />
      </div>
      <div class="form-group">
        <label>Position 1 Key:</label>
        <input class="form-control" type="text" [(ngModel)]="selectedConfig.pos90Key" />
      </div>
      <div class="form-group">
        <label>Position 1 Name:</label>
        <input class="form-control" type="text" [(ngModel)]="selectedConfig.pos90Name" />
      </div>
      <div class="form-group">
        <label>Position 2 Key:</label>
        <input class="form-control" type="text" [(ngModel)]="selectedConfig.pos180Key" />
      </div>
      <div class="form-group">
        <label>Position 2 Name:</label>
        <input class="form-control" type="text" [(ngModel)]="selectedConfig.pos180Name" />
      </div>
      <div class="form-group">
        <label>90 Degree Move Time:</label>
        <input class="form-control" type="number" [(ngModel)]="selectedConfig.timing" />
      </div>
      <button (click)="saveConfig()" class="btn btn-success">Save</button>
      <button (click)="cancelConfig()" class="btn btn-danger">Cancel</button>
    </div>


    <div *ngIf="!selectedConfig">
          <h4>Refresh <i class="action fa fa-refresh" (click)="refresh()" aria-hidden="true"></i>  </h4>
         <h4>Get Config <i class="action fa fa-refresh" (click)="getConfig()" aria-hidden="true"></i>  </h4>
         </div>

  </div>
</div>