<div style="margin: 20px;width:420px">
  <div style="text-align: center;">
  <img src="https://nuviot.blob.core.windows.net/cdn/nuviot-blue.png" alt="Nuviot Logo" style="width: 300px; height: auto; margin-bottom: 20px;" />
  </div>
  <div *ngIf="state">
    <div class="stats">

      <div>
        <label>Source:</label>
        <span> {{state.source}}</span> 
      </div>
      <div class="function-row">  
        <button class="mode-button btn btn-primary" (click)="setMode('source', 'pool')">Pool</button>
        <button class="mode-button btn btn-primary" (click)="setMode('source', 'spa')">Spa</button>
        <button class="mode-button btn btn-primary" (click)="setMode('source', 'both')">Both</button>
        <button class="mode-button btn btn-primary" (click)="setMode('source', 'reset')">Reset</button>
      </div>

      <div>
        <label>Output:</label>
        <span> {{state.output}}</span> 
      </div>
      <div class="function-row">  
        <button class="mode-button btn btn-primary" (click)="setMode('output', 'pool')">Pool</button>
        <button class="mode-button btn btn-primary" (click)="setMode('output', 'spa')">Spa</button>
        <button class="mode-button btn btn-primary" (click)="setMode('output', 'both')">Both</button>
        <button class="mode-button btn btn-primary" (click)="setMode('output', 'reset')">Reset</button>
      </div>
    
      <div>
        <label>Spa:</label>
        <span> {{state.spa}}</span> 
      </div>
      <div class="function-row">  
        <button class="mode-button btn btn-primary" (click)="setMode('spa', 'normal')">Normal</button>
        <button class="mode-button btn btn-primary" (click)="setMode('spa', 'spa')">Spa</button>
        <button class="mode-button btn btn-primary" (click)="setMode('spa', 'both')">Both</button>
        <button class="mode-button btn btn-primary" (click)="setMode('spa', 'reset')">Reset</button>
      </div>
      
    </div>
    <hr />
      
    <div class="input-row">
      <label>Source Timing:</label>
      <div style="display:flex">
        <input  class="form-control" type="number" [(ngModel)]="sourceTiming" />
        <i class="action fa fa-save save-icon" (click)="setTiming('source', sourceTiming)" aria-hidden="true"></i>
      </div>
    </div>

    <div class="input-row">
      <label>Output Timing:</label>
      <div style="display:flex">
        <input  class="form-control" type="number" [(ngModel)]="outputTiming" />
        <i class="action fa fa-save save-icon" (click)="setTiming('output', outputTiming)" aria-hidden="true"></i>
      </div>
    </div>

    <div class="input-row">
      <label>Jets Timing:</label>
      <div style="display:flex">
        <input  class="form-control" type="number" [(ngModel)]="jetsTiming" />
        <i class="action fa fa-save save-icon" (click)="setTiming('jets', jetsTiming)" aria-hidden="true"></i>
      </div>
    </div>
    <hr />
    <h4>Refresh <i class="action fa fa-refresh" (click)="refresh()" aria-hidden="true"></i>  </h4>
  </div>
</div>