div.config-editor
    font-size:12pt

.function-row button
    width: 120px
    margin-right: 10px

.input-row  label
    width: 240px

.stats div label
    width: 240px

.input-row
    display: flex
    font-size: 12pt

.stats div
    font-size: 16pt

.stats div span
    flex-grow: 1

input 
    width: 200px

input[type="number"] 
    text-align: right

.form-group label
    margin-bottom: 0